<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Паспорт окна G3</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=8030fb4b-4aff-4186-970b-01bd06a3dee8&lang=ru_RU" type="text/javascript">
    </script>
</head>
<body>
    <!-- Шапка -->
    <%- require('/html/partials/header.html').default %>

    <section>
        <!-- Заголовок сайта -->
        <%- require('/html/partials/headline.html').default %>

        <!-- Основные преимущества -->
        <%- require('/html/partials/benefits.ejs')() %>  

        <!-- Выбор окна -->
        <%- require('/html/partials/window.ejs')() %>  

        <!-- Проверка паспорта -->
        <%- require('/html/partials/passport_check.ejs')() %> 

        <!-- Карта дилеров -->
        <%- require('/html/partials/dealers_map.ejs')() %> 

        <!-- Обратная связь -->
        <%- require('/html/partials/feedback.ejs')() %> 
    </section>

    <!-- Подвал -->
    <%- require('/html/partials/footer.html').default %>

    <!-- Модальные окна -->
    <%- require('/html/partials/modals/liders.html').default %>
    <%- require('/html/partials/modals/warranty.html').default %>
    <%- require('/html/partials/modals/simple_choice.html').default %>
    <%- require('/html/partials/modals/window-hint.html').default %> 

    <!-- Лоадер страницы -->
    <%- require('/html/partials/utils/page-loader.html').default %>
</body>
</html>